@tailwind base;
@tailwind components;
@tailwind utilities;


.light{
    background-color: white;
color: black;
}

.dark{
    background-color: black;
    color: white;
}


.item:nth-child(2n+1) {
        flex-direction: row-reverse;    }

  